nmgc
*~
*.bak
*.o
*.mod
*.f90_*
*.f_*
*.out
*.uout
*.bout
*.dat
*.udat
*.bdat
*.aux
*.out
*.log
*.bbl
*.brf
*.blg
*.toc
*.dvi
*.fig_*
*.pyc
*.py_*
*.pro_*
*.zip
#*
.#*
test*
.DS_Store
__pycache__/
*.pptx
*.key
*.dSYM